h1{
    color: purple;
    font-family:verdana;
}

h2{
color: aquamarine;
font-family: 'Gill Sans';
font-size: 50px;
text-align:left;

}

h3{
    font-size: 50px;
}

h4{
    font-size: 50px;
}

p{
    font-size: 20px;
}